# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform variable files
*.auto.tfvars

# Sensitive variable files
terraform.tfvars
terraform.tfvars.json

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db