# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Environment files
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log